<body>
  <a href='/'>Home</a>
  <a href='/blog/'>Blog</a>
  <a href='/about/'>About</a>

  <h1>I am Blog</h1>
  <h1>Blog</h1>
  <h2>... where I write</h2>

  <p>That is the discipline.</p>

  <p>
    This site will update as I complete more of the tutorial, so keep checking
    back and see how my journey is going!
  </p>
</body>
